nav#fixed-lower-nav.navbar.navbar-purple.affix-top
  .container
    ul.nav.navbar-nav
      li.active
        a(href='london')
          span.glyphicon.glyphicon-home  
          |  Select a city:
      li.active
        a(href='london') London
      li
        a(href='paris') Paris
      li
        a(href='newyork') New York
      li
        a(href='madrid') Madrid