doctype html
html
  head
    include partials/header.jade
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', integrity='sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN', crossorigin='anonymous')
    link(href='../stylesheets/fonts/fonts.css', rel='stylesheet')
    link(rel='stylesheet', href='../stylesheets/index.css')
    script.
      $(document).ready(function () {
      function findImages(city) {
      var dfrrd = new $.Deferred();
      $.ajax({
      type: "GET",
      dataType: "jsonp",
      url: city,
      success: function (data) {
      data = $.map(data.hits, function (obj, index) {
      return {
      image: obj.webformatURL
      };
      });
      dfrrd.resolve(data);
      }
      });
      return dfrrd.promise();
      }
      $.when(findImages("#{City}")).done(function (data) {
      console.log("test" + data);
      for (var i = 0; i < 20; i++) {
      if (data[i] !== undefined) {
      $("#images").append(
      "<div class='col-sm-3'><a target='_blank' href='" +
      data[i].image +
      "'><img class='flickrImgs' src='" +
      data[i].image +
      "'/></a></div>"
      );
      }
      }
      });
      $('#fixed-lower-nav').affix({
      offset: { top:100 }
      });
      });
  body
    include partials/nav2.jade
    .container
      br
      br
      br
      br
      br
      br
      h1 Welcome to ILoveMyCity!
      h2
        | Here are some of the images for #{Label}
      br
      .row
        #images
